.Journey_container {
  padding: 32px 80px 32px 80px;
  text-align: center;
}

.Journey_container h2 {
  font-size: 2rem;
  font-weight: 500;
}

.Journey_container h3 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 2.5rem;
}

.Journey_section {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  align-items: center;
  gap: 40px 20px;
  position: relative;
}

.Journey_item-jr {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.85;
}

.Journey_section::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: black;
  transform: translateX(-50%);
}

.Journey_item h6 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  width: max-content;
}

.Journey_item-jr span {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
}

.Journey_item:nth-child(1)::after,
.Journey_item:nth-child(4)::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .Journey_section {
    grid-template-columns: 1fr;
  }

  .Journey_section::before,
  .Journey_item::after {
    display: none;
  }

  .Journey_item {
    text-align: center;
  }
}

.experience {
  padding-right: 4rem;
  padding-left: 4rem;
  align-items: center;
  justify-content: center;
}

.experience h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 2rem;
}
.experience1,
.experience2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

.experience1-left img {
  width: 450px;
  height: 400px;
  border-radius: 10px;
}

.experience1-right {
  align-items: center;
}

.experience1-right h4 {
  font-weight: 600;
  font-size: 18px;
  padding: 0.5rem;
}

.experience2-right img {
  width: 450px;
  height: 400px;
  border-radius: 10px;
}

.experience-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-date h4 {
  font-size: 19px;
  font-weight: 500;
}

.experience ul {
  padding: 2rem;
}

.experience li {
  font-family: "Source Code Pro", monospace;
}

@media (max-width: 950px) {
  .experience2-left {
    margin-top: 2rem;
  }

  .experience1,
  .experience2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .Journey_section {
    width: min-content;
    justify-self: center;
  }
}

@media (max-width: 1200px) {
  .experience1-left img,
  .experience2-right img {
    width: 400px;
    height: 250px;
  }

  .experience1,
  .experience2 {
    gap: 2rem;
  }
}
