.Aboutpage-container {
  display: flex;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: -24rem;
  align-items: center;
  justify-content: center;
}

.Aboutpage-left_container {
  width: 600px;
  overflow: hidden;
  align-items: center;
  z-index: 2;
}

.Aboutpage-left_container img {
  width: 500px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M925 646q-23 146-154 215t-257.5 27.5Q387 847 276 795.5T86.5 622Q8 500 86.5 378.5t177.5-211Q363 78 498.5 83T768 148q134 60 157 206t0 292Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23014562%22 d=%22M925 646q-23 146-154 215t-257.5 27.5Q387 847 276 795.5T86.5 622Q8 500 86.5 378.5t177.5-211Q363 78 498.5 83T768 148q134 60 157 206t0 292Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  align-self: center;
}

.Aboutpage-right_container {
  gap: 2rem;
}

.Aboutpage-right_container h2 {
  font-family: "Pacifico", cursive;
  margin-top: 2rem;
  font-size: 32px;
  font-weight: 500;
  font-style: italic;
}

.Aboutpage-right_container h3 {
  font-size: 26px;
  font-weight: 500;
}

.Aboutpage-right_container p {
  font-family: "Source Code Pro", monospace;
}

@media (max-width: 900px) {
  .Aboutpage-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -36rem;
  }

  .Aboutpage-left_container img {
    align-self: center;
    margin-bottom: 2rem;
    margin-left: 6.5rem;
  }
}

@media (max-width: 1100px) {
  .Aboutpage-left_container img {
    width: 400px;
  }

  .Aboutpage-container{
    margin-top: -26rem;
  }
}
