* {
  box-sizing: border-box;
}
.Header-hero {
  height: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 140px;
  z-index: 1;
  transform: translate(32%, -185%);
}

.Header-banner h1 {
  font-family: "Pacifico", cursive;
  color: white;
  background-color: transparent;
  font-size: 80px;
  width: 500px;
  font-weight: lighter;
  transform: rotate(45deg);
  position: relative;
  top: 135px;
}

.Header-banner img {
  width: 700px;
  transform: rotateY(-200deg) rotate(-45deg);
  background-color: transparent;
  position: relative;
  top: -150px;
  left: -180px;
}

.angular_section {
  border-radius: 55px;
  background-color: #014562;
  height: 400px;
  width: 800px;
  transform: rotate(-45deg);
  z-index: 1;
  overflow: hidden;
}


@media (max-width: 1150px) {
    .Header-banner{
        width: 70vw;
        height:50vh ;
    }

  
  
}

@media (max-width: 500px) {
   .Header-banner{
        width: 70vw;
        height:60vh
    }
}