.footer{
    padding: 3rem;
    align-items: center;
    text-align: center;
}

.footer h3{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;

}

.footer p {
    font-size: 18px;
    margin-bottom: 3rem;

}

.footer img{
    width: 30px;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    
    
}

.footer_left{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.svg{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.social_icons{
    display: flex;
   gap: 10px;
   padding-bottom: 40px;

}

.footer_right{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer_right h6{
    text-align: start;
    font-size: 12px;
    font-weight: 600;
}

.footer_right button{
    font-weight: 500;
    color: white;
    background-color:#014562 ;
    border-radius: 6px;
    height: 30px;
    width: 40%;
}

.input{
    background: white;
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 7px;
}

@media (max-width: 700px) {
  .footer_container{
    display: flex;
    flex-direction: column;
  }
  .footer_right button{
    margin-bottom: 3rem;
  }
  .footer_left{
    margin-bottom: 2rem;
  }
}