.skills_section {
  margin-top: 3rem;
}

.skills_section h2 {
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
}

.skills_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 42px;
  padding: 2rem;
}

.skills_flex img {
  width: 300px;
  height: 500px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.skills_flex img:hover {
  scale: 1.1;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex h3 {
  padding: 1.5rem;
  font-weight: 600;
}
